<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div #container></div>
</div>

<div class="table" style="text-align:center">
  <button (click)="get_products()">List Products</button>
  <div class="table-row">
    <div class="table-column-header">ID</div>
    <div class="table-column-header">Name</div>
    <div class="table-column-header">Cost</div>
    <div class="table-column-header">Quantity</div>
  </div>
  <div *ngFor="let product of products | async" class="table-row">
    <div class="table-column">{{product.id}}</div>
    <div class="table-column">{{product.name}}</div>
    <div class="table-column">{{product.cost}}</div>
    <div class="table-column">{{product.quantity}}</div>
  </div>
</div>

<router-outlet></router-outlet>
